<h1> Welcome to Michigan Think Free! </h1>

<%= button_to "About Michigan Think Free", '/about', method: 'get' %><br>

<%= button_to "Discussion Board", '/posts', method: 'get' %><br>

<%= button_to "Member Interests", '/interests', method: 'get' %> <br>


<div>
  <%= render partial: '/navigation' %>
</div>
